.fa-size {
	font-size: 1.5rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	position: sticky;
	margin-top: 5%;
	height: 90vh;
}
.sidebar-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;
	padding-left: 1.5rem;
	margin-top: 0.2rem;
	border-radius: 0 2em 2em 0;
	cursor: pointer;
}

.label-icon {
	margin-right: 1rem;
}
.label-text {
	font-size: 1.2rem;
}
.side-profile {
	margin-top: auto;
	display: flex;
	align-items: center;
	margin-bottom: 1.2rem;
	gap: 3rem;
	margin-left: 1rem;
}
.first-div {
	display: flex;
	align-items: center;
	margin-left: 5px;
	cursor: pointer;
}
.side-icon {
	font-size: 1.5rem;
}

.profile-name {
	font-size: 1.2rem;
}
.side-icon:nth-child(1) {
	margin-right: 8px;
}
.side-icon:nth-child(2) {
	cursor: pointer;
}
.note-cta-sidebar {
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-end;
}
.note-cta-sidebar:hover {
	background-color: var(--light-grey-color);
}
