.inputbox {
	width: 30rem;
	border-radius: 0.5em;
	padding: 2px;
	border: var(--inputbox-radius);
	position: relative;
}

.input {
	width: 95%;
}

.inputdiv {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}
.inputbox input {
	border: none;
	font-size: 1.1rem;
	margin: 5px 10px 5px 10px;
	padding: 5px;
}
.input-cta {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	flex-direction: row-reverse;
}

.selective-cta {
	display: flex;
	flex-direction: row;
	width: 40%;
	align-items: center;
}

.selective-cta span,
label {
	margin: 0 5px 0 5px;
	font-size: 1.2rem;
}
.selective-cta label {
	font-size: 1rem;
}

.save-note {
	padding: 7px;
	margin: 0;
	font-size: 0.9rem;
}
.notes-display {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	width: 100%;
	flex-direction: row;
}

.notecard {
	padding: 10px;
	box-shadow: var(--light-box-shadow);
	border-radius: 0.4rem;
	margin-left: 3rem;
	margin-bottom: 2rem;
	min-width: 13rem;
	display: flex;
	min-height: 8rem;
	flex-direction: column;
	flex-wrap: wrap;
}

.notecard-cta {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cta-box {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.note-content {
	margin-top: 0.7rem;
}

.note-cta {
	cursor: pointer;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.note-cta:hover {
	background-color: var(--light-hover);
}
.label-box {
	display: flex;
	align-items: center;
}

.pin-title {
	display: flex;
}

.pin-title span {
	margin-left: auto;
}
.color-div {
	position: absolute;
	top: 8.5rem;
	left: 2rem;
	background-color: white;
	width: 15rem;
	box-shadow: var(--light-box-shadow);
	justify-content: space-between;
	padding: 0.3rem;
	border-radius: 0.5rem;
}

.color-circle {
	width: 2.1rem;
	height: 2.1rem;
	border-radius: 50%;
	cursor: pointer;
}

.label-div {
	flex-direction: column;
	position: absolute;
	top: 6.5rem;
	left: 5.8rem;
	background-color: white;
	width: auto;
	box-shadow: var(--light-box-shadow);
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.notelabel-text {
	font-size: 1rem;
	padding: 3px;
	cursor: pointer;
	border-radius: 5px;
}
.notelabel-text:hover {
	background-color: var(--light-hover);
}

.note-label {
	border: var(--light-label-border);
	border-radius: 5px;
	font-size: 13px;
	padding: 3px;
}

.empty-div span {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--grey-text-color);
}
.empty-div p {
	font-size: 1.2rem;
}

.empty-div i {
	font-size: 5rem;
	margin-bottom: 1rem;
}

.empty-div {
	margin-top: 6rem;
}
